.permanent-delete-btn {
    width: 70px;
    padding: 6px;
    bottom: 10px;
    right: 10px;
    position: absolute;
    background-color: #d73939;
}

.permanent-delete-btn:hover {
    background-color: #c00000;
    transform: scale(1.05);
}

.restore-btn {
    width: 75px;
    padding: 6px;
    bottom: 10px;
    right: 90px;
    position: absolute;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.restore-btn:hover {
    background-color: #45a049;
    transform: scale(1.05);
}