.nav-item {
    color: #c3e0e9;
    margin-left: 20px;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.nav-user span {
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    transition: transform 0.2s ease, color 0.2s ease;
}

.nav-user span:hover {
    color: lightgray;
    transform: translateY(-2px);
}

.navbar {
    background: #42337ed2;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    padding: 12px;
    font-size: 30px;
}

.navbar.light {
    background-color: #42337ed2;
}

.navbar.dark {
    background: #252829;
}

.navbar-title {
    color: white;
    flex: 1;
    text-align: center;
    margin: 0;
}

.nav-user {
    display: flex;
    align-items: center;
    color: white;
    padding: 0 10px 0 0;
    position: relative;
}

.side-menu-logout {
    padding: 8px 55px;
    font-size: 18px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    text-align: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

.side-menu-logout:hover {
    background-color: #c82333;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #42337ed2;
    color: white;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    transition: left 0.3s ease;
}

.sidebar.active {
    left: 0;
}

.sidebar-toggle {
    cursor: pointer;
    font-size: 24px;
    margin-bottom: 10px;
}

.sidebar.active {
    display: block;
}

.side-menu-icon {
    padding: 0 0 0 15px;
    cursor: pointer;
    color: white;
}

.side-menu-bottom {
    padding-top: 5px;
    border-top: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    justify-content: space-between;
}

.side-menu {
    position: fixed;
    width: 200px;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #42337ed2;
    color: white;
    z-index: 1000;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
    max-height: 100vh;
    transition: background-color 0.3s ease;
}

.side-menu.light {
    background-color: #42337ed2;
}

.side-menu.dark {
    background: #252829;
}

.side-menu a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin: 10px 0;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.side-menu a:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

.side-menu a.active {
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}


.side-menu-item {
    display: flex;
    align-items: center;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin: 5px 0;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.side-menu-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}


.user-icon {
    font-size: 24px;
    margin-right: 10px;
    cursor: pointer;
}

.user-icon:hover {
    color: lightgray;
}

.menu-options {
    display: none;
    margin-top: 10px;
}

.menu-options ul {
    list-style: none;
    padding: 0;
}

.menu-options li {
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: background-color 0.3s;
}

.menu-options li:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.menu-icon {
    width: 24px;
    margin-right: 12px;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
}