/* src/App.css */

body {
    font-family: Arial, sans-serif;
    background-color: #F8F1F1;
    margin: 0;
    padding: 20px;
  }
  
  /* h1 {
    text-align: center;
    color: #343a40;
  } */

  .header {
    background-color: #644684; /* Dark purple color */
    color: white; /* White text color */
    text-align: center; /* Center the text */
    padding: 15px; /* Padding around the text */
    font-size: 30px; /* Increase the font size */
    font-weight: bold; /* Make the text bold */
    border-radius: 8px; /* Rounded corners */
    margin-bottom: 20px; /* Space below the header */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Add subtle shadow */
  }
  
  .header span {
    font-family: 'Arial', sans-serif; /* Set the font family */
  }
  
  form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  input,
textarea {
   margin: 5px 0;
   padding: 12px;
   border: 1px solid #ced4da;
   border-radius: 8px;
   box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
   font-size: 16px;
}
  
button {
  padding: 12px 20px;
  background-color: #644684;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #644686;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
}
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
    background-color: white;
  }
  
  /* src/App.css */

/* src/App.css */

.search-bar {
  position: relative; /* Allows for absolute positioning of the icon */
  margin: 10px 0;
}

.search-bar input[type="text"] {
  width: 93%; /* Make input fill the width of the container */
  padding: 10px 40px; /* Add padding for the icon and text */
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.search-icon {
  position: absolute;
  left: 10px; /* Position the icon within the input */
  top: 50%; /* Center the icon vertically */
  transform: translateY(-50%); /* Adjust for vertical centering */
  color: #888;
  font-size: 18px; /* Adjust size as needed */
}



